body {
    margin: 0;
    margin: 0px;
    background-image: url(images/Project-BackGround.svg);
    background-size: cover;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    margin: 20px;
    font-size: 30px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(57, 0, 71);
    color: white;
}

#webdev-section {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

#webdev-projects {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#gamedev-section {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

#gamedev-projects {
    display: flex;
    justify-content: center;
}

.site {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    box-shadow: 0px 0px 30px white;
    width: 25vh;
    background-color: rgb(209, 170, 120);
}

.game {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    box-shadow: 0px 0px 30px white;
    width: 25vh;
    background-color: rgb(209, 170, 120);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    body {
        background-position: center;
    }
}


@media screen and (max-width: 767px) {
    li {
        font-size: 22px;
        margin: 5px;
    }
    .site, .game {
        width: 150px
    }
    body {
        background-size: 770px;
        background-position: center;
    }
}