body {
    margin: 0;
    margin: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    margin: 20px;
    font-size: 30px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(57, 0, 71);
    color: white;
}

#webdev-section {
    text-align: center;
}

#webdev-projects {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#gamedev-section {
    text-align: center;
}

.site {
    display: flex;
    flex-direction: column;
}