body {
    margin: 0px;
}

#header {
    background-color: rgb(4, 13, 16);
    background-image: url(images/WebsiteBanner.png);
    background-size: auto 100%;
    background-repeat: repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    line-height: 1;
}

span {
    background-color: rgba(255, 208, 0, 0.664);
}

.socials {
    text-decoration: none;
    color: white;
    font-size: 2vmax;
}

#description{
    color: rgb(240, 239, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#descbtn {
    background-color: rgb(49, 61, 45);
    color: antiquewhite;
    padding: 1%;
    border: 2px solid;
}

#descbtn:hover {
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.377);
}

.descp {
    font-size: smaller;
    float: right;
}

#p2container {
    background-image: url(./Images/GameDev.png);
    background-repeat: no-repeat;
    background-color: rgb(53, 49, 49);
    background-size: cover;
    background-position: center;
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
    border-radius: 15px;
    box-shadow: 0px 0px 2rem white;
    margin: 3rem;
}

#content {
    height: 50vh;
    width: 90vw;
    background: linear-gradient(90deg,rgba(28, 43, 158, 0) 20%, rgba(0, 0, 0, 0.815) 50%, rgba(0, 0, 0, 1) 70%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    padding-left: 50vw;
    padding-right: 1vw;
    border-radius: 15px;
    text-align: right;
}

#p3container {
    background-image: url(Images/WebDev.png);
    background-repeat: no-repeat;
    background-color: rgb(53, 49, 49);
    background-size: cover;
    background-position: left;
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
    border-radius: 15px;
    box-shadow: 0px 0px 2rem white;
    margin: 3rem 3rem 15vh 3rem;
}

#contentWeb {
    height: 50vh;
    width: 90vw;
    background: linear-gradient(-90deg,rgba(28, 43, 158, 0) 20%, rgba(0, 0, 0, 0.815) 50%, rgba(0, 0, 0, 1) 70%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-right: 50vw;
    padding-left: 1vw;
    border-radius: 15px;
}

#astroButton {
    border: 1px solid white;
    margin: 5%;
    text-decoration: none;
    color: white;
    background-color: green;
    border-radius: 5px;
}

#astroButton:hover {
    box-shadow: 0px 0px 15px green;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 15vh 0 20vh 0;
}

#everything {
    background-color: rgb(4, 13, 16);
    transform: none;
}

.Astroball {
    box-shadow: 0px 0px 15px white;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
}

#gamedev {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#webdev {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.heading {
    color: white;
    text-align: center;
}

#whoAmI {
    background-color: rgba(255, 255, 255, 0.267);
    box-shadow: 0px 0px 2rem rgba(255, 255, 255, 0.212);
    border: 2px solid white;
    margin: 0px 10% 10vh 10%;
    padding: 1%;
}

#socials {
    background-color: black;
    color: white;
}

.social {
    text-decoration: none;
    color: white;
    border: 1px solid white; 
}

.displayHover {
    opacity: 0;
    color: green
}

#clickHere {
    color: green;
}

.skill {
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 15vw;
}

.skill:hover {
    filter: drop-shadow(0px 0px 5px rgb(57, 255, 255));
}

#astroImg {
    width: 50vw;
    max-width: 300px;
}

.social:hover {
    background-color: white;
    color: black;
}

::-webkit-scrollbar {
    background-color: rgb(4, 13, 16);
    border: 2px dashed white;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
