body {
    background-color: rgb(26, 26, 27);
    color: rgb(205, 205, 218);
    font-family: "Pixelify Sans";
    font-size: 3em;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}