body {
    background-color: rgb(15, 15, 15);
    color: rgb(230, 230, 236);
    font-family: monospace;
    font-size: 3em;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}