body {
    margin: 0;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    margin: 20px;
    font-size: 30px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(57, 0, 71);
    color: white;
}

