body {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.divs {
    width: 700px;
    text-align: center;
    font-size: 22px;
    border: 2px solid white;
    margin: 15px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.527);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0px;
}

li {
    margin: 20px;
    font-size: 30px;
}

a {
    color: rgb(199, 140, 248);
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 15px white;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(57, 0, 71);
}

#main-content {
    width: 100%;
    background-image:  url(./images/bedroom_forniture_left.svg), url(./images/bedroom_forniture_right.svg), url(./images/Bedroom_Floor.svg);
    background-position: left, right;
    background-repeat: no-repeat, no-repeat, repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .divs {
        box-sizing: border-box;
        font-size: 30px;
    }
    #main-content {
        background-size: 400px auto, 400px auto, auto;
    }
}

@media screen and (max-width: 767px) {
    li {
        font-size: 22px;
        margin: 5px;
    }
    .divs {
        width: 95%;
        box-sizing: border-box;
        font-size: 20px;
    }
    #main-content {
        background-position: bottom, top;
        background-size: 300px auto, 300px auto;
    }
}