body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

div {
    width: 500px;
    text-align: center;
    font-size: 22px;
    border: 2px solid white;
    margin: 15px;
    padding: 15px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    margin: 20px;
    font-size: 30px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(57, 0, 71);
}